html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

    .container {
        text-align: center;
    }
    .subtitle {
        color: gray;
    }

    a {
        text-decoration: none;
    }
}


